$fontpage: 'Gilroy', Verdana, Tahoma, sans-serif;
$fontColor: #000000;
$errorColor: #FF7262;
$customActive: #7FA1F8;
$maxWidth: 345px;
.customselect-wrapper {
    max-width: $maxWidth;
    .checked {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 0.5px solid #C4C4C4;
        border-radius: 50%;
        margin-right: 5px;
        transition: background 0.3s ease-in;
        cursor: pointer;
        vertical-align: top;
        &.active {
            background: #C4C4C4;
        }
    }
    .text {
        display: inline-block;
        max-width: calc(100% - 60px);
    }
    .select-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
    }
    .select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 100%;
    }
    .select-styled {
        font-family: $fontpage;
        transition: all 0.3s ease-in;
        padding-right: 20px;
        padding: 20px 25px;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        border-radius: 15px;
        font-size: 13px;
        line-height: 15px;
        color: $fontColor;
        outline: none;
        width: 100%;
        max-width: $maxWidth;
        &:after {
            content:"";
            position: absolute;
            width: 12px;
            height: 7px;
            right: 10px;
            top: calc(50% - 2.5px);
            display: block;
            background: url(./../img/arrow-dropdown.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.3s ease-in;
        }
        &:hover {
            border-color: $customActive;
            &:after {
                background: url(./../img/arrow-dropdown-a.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        &:active,
        &.active {
            border-color: $customActive;
            &:after {
                background: url(./../img/arrow-dropdown-a.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                transform: rotate(180deg);
            }
        }
    }

    .select-options {
        display: none; 
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        background: #ffffff;
        max-height: 160px;
        overflow-y: auto;
        box-shadow: 0px 5px 4px 4px rgba(0, 0, 0, 0.2);
        li {
            margin: 0;
            transition: all 0.2s ease-in;
            font-family: $fontpage;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
            padding: 8px;
            border-bottom: 2px solid #ffffff;
            &:hover {
                border-color: $customActive;
            }
            &.active {
                background: #E5E5E5;
            }
            &[rel="hide"] {
                display: none;
            }
        }
    }
}