@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0px;
}

html, body {
  height: 100%;
}

body {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-size: 14px;
}

.page-cont {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 25px 50px;
  max-width: 100%;
}

.page-cont .left-side {
  min-height: calc(100vh - 50px);
  width: 160px;
  position: relative;
}

.page-cont .left-side .main-panel {
  position: fixed;
  min-height: calc(100vh - 50px);
  width: 160px;
  background: #212121;
  -webkit-box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-cont .left-side .logo {
  width: 110px;
  max-width: 70%;
  margin: auto;
  padding-top: 40px;
}

.page-cont .left-side .logo img {
  width: 100%;
}

.page-cont .left-side .left-menu {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.page-cont .left-side .left-menu .menu-item.active a .icon.icon-all {
  background: url(./../img/icon-menu-all-active.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-cont .left-side .left-menu .menu-item.active a .icon.icon-personal {
  background: url(./../img/icon-menu-personal-active.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-cont .left-side .left-menu .menu-item.active a .icon.icon-payment {
  background: url(./../img/icon-payment.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-cont .left-side .left-menu .menu-item a {
  display: block;
  padding: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
}

.page-cont .left-side .left-menu .menu-item a .icon {
  width: 20px;
  height: 20px;
  margin: auto;
}

.page-cont .left-side .left-menu .menu-item a .icon.icon-all {
  background: url(./../img/icon-menu-all.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-cont .left-side .left-menu .menu-item a .icon.icon-personal {
  background: url(./../img/icon-menu-personal.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-cont .left-side .left-menu .menu-item a .icon.icon-payment {
  background: url(./../img/icon-payment.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-cont .left-side .bottom-content .chat-wrapper {
  width: 100%;
  background: rgba(245, 245, 247, 0.3);
  border-radius: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  display: none;
}

.page-cont .left-side .bottom-content .chat-wrapper.expanded {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  height: 100%;
  z-index: 800;
}

.page-cont .left-side .bottom-content .chat-wrapper .messages-block {
  padding-left: 10px;
  padding-right: 10px;
  height: calc(100% - 85px);
}

.page-cont .left-side .bottom-content .chat-wrapper .messages-wrap {
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-cont .left-side .bottom-content .chat-wrapper .messages-wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: transparent;
}

.page-cont .left-side .bottom-content .chat-wrapper .messages-wrap::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.page-cont .left-side .bottom-content .chat-wrapper .messages-wrap::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: rgba(127, 161, 248, 0.5);
}

.page-cont .left-side .bottom-content .chat-wrapper .messages-wrap .message-block {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  color: #FFFFFF;
  padding: 8px 10px 12px;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
  display: inline-block;
  width: auto;
}

.page-cont .left-side .bottom-content .chat-wrapper .messages-wrap .message-block.user-massage {
  background: #7FA1F8;
  border-radius: 15px 15px 0px 15px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.page-cont .left-side .bottom-content .chat-wrapper .messages-wrap .message-block.user-massage .message-time {
  right: 8px;
}

.page-cont .left-side .bottom-content .chat-wrapper .messages-wrap .message-block.admin-massage {
  background: rgba(127, 161, 248, 0.5);
  border-radius: 15px 15px 15px 0px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.page-cont .left-side .bottom-content .chat-wrapper .messages-wrap .message-block.admin-massage .message-time {
  left: 8px;
}

.page-cont .left-side .bottom-content .chat-wrapper .messages-wrap .message-block .message-time {
  position: absolute;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6px;
  line-height: 7px;
  color: #C4C4C4;
  bottom: 4px;
}

.page-cont .left-side .bottom-content .chat-wrapper .chat-top {
  padding: 5px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-cont .left-side .bottom-content .chat-wrapper .chat-top .expand {
  width: 10px;
  height: 10px;
  background: url(./../img/icon-expand-chat.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  cursor: pointer;
}

.page-cont .left-side .bottom-content .chat-wrapper .chat-top .expand.active {
  background: url(./../img/icon-shrink-chat.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap {
  width: 100%;
  padding: 22px 15px;
}

.page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea {
  resize: none;
  outline: none;
  border: none;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  padding: 2px 5px;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  max-height: 34px;
  min-height: 14px;
}

.page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: transparent;
}

.page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: #000000;
}

.page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea::-webkit-input-placeholder {
  color: #000000;
}

.page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea::-moz-placeholder {
  color: #000000;
}

.page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea:-ms-input-placeholder {
  color: #000000;
}

.page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea::-ms-input-placeholder {
  color: #000000;
}

.page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea::placeholder {
  color: #000000;
}

.page-cont .left-side .bottom-content .faq-icon-wrap {
  padding: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-cont .left-side .bottom-content .faq-icon-wrap .faq-icon {
  display: block;
  width: 21px;
  height: 21px;
  background: url(./../img/icon-faq.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.page-cont .left-side .bottom-content .faq-icon-wrap .faq-icon:hover {
  background: url(./../img/icon-faq-hover.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.page-cont .left-side .bottom-content .faq-block {
  pointer-events: none;
  opacity: 0;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

.page-cont .left-side .bottom-content .faq-block.visible {
  pointer-events: all;
  opacity: 1;
  height: auto;
  width: auto;
}

.page-cont .left-side .faq-block {
  background: rgba(245, 245, 247, 0.3);
  border-radius: 25px;
  width: 100%;
  padding: 20px 15px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}

.page-cont .left-side .faq-block .faq-header {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding-bottom: 12px;
}

.page-cont .left-side .faq-block .faq-btn {
  display: block;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 9px 13px;
  border-radius: 25px;
  background: #7FA1F8;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 6px;
  line-height: 7px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.page-cont .left-side .faq-block .faq-img {
  max-width: 100%;
  padding-bottom: 10px;
}

.page-cont .left-side .faq-block .faq-img img {
  width: 100%;
}

.page-cont .left-side .faq-block .bottom-text {
  width: 27px;
  height: 17px;
  background: url(./../img/text-FAQ.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-cont .right-side {
  height: calc(100vh - 50px);
  width: calc(100% - 160px);
}

.page-cont .right-side .top-panel {
  padding-top: 20px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 80px;
}

.page-cont .right-side .top-panel .notification-cont {
  padding-left: 20px;
}

.page-cont .right-side .top-panel .notification-cont .notification-icon {
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  background: url(./../img/notification-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-cont .right-side .top-panel .notification-cont .notification-icon::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FF7262;
  right: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.page-cont .right-side .top-panel .notification-cont .notification-icon.active::before {
  opacity: 1;
}

.page-cont .right-side .top-menu {
  padding-bottom: 30px;
}

.page-cont .right-side .top-menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.page-cont .right-side .top-menu ul li {
  padding-right: 40px;
}

.page-cont .right-side .top-menu ul li a {
  display: block;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
  position: relative;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.page-cont .right-side .top-menu ul li a::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0px;
  right: 0px;
  height: 3px;
  border-radius: 10px;
  background: #7FA1F8;
  width: 0px;
  -webkit-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.page-cont .right-side .top-menu ul li a:hover {
  color: #000000;
}

.page-cont .right-side .top-menu ul li a.active {
  color: #000000;
}

.page-cont .right-side .top-menu ul li a.active::before {
  width: 100%;
}

.page-cont .right-side .top-menu ul li a.orange {
  color: #FF7262;
}

.page-cont .right-side .page-content {
  min-height: calc(100% - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-width: 100%;
}

.page-cont .right-side .page-content .center-block {
  height: 100%;
  width: 100%;
  padding-left: 80px;
  padding-right: 20px;
}

.page-cont .right-side .page-content .wellcome-block {
  width: 100%;
  background: #F5F5F7;
  border-radius: 14px;
  margin-bottom: 20px;
}

.page-cont .right-side .page-content .wellcome-block .notifications {
  max-height: 64px;
  min-height: 64px;
  overflow: hidden;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
  max-width: 365px;
  scroll-behavior: smooth;
  position: relative;
}

.page-cont .right-side .page-content .wellcome-block .notifications::-webkit-scrollbar-track {
  background-color: transparent;
}

.page-cont .right-side .page-content .wellcome-block .notifications::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.page-cont .right-side .page-content .wellcome-block .notifications::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-cont .right-side .page-content .wellcome-block .notifications:hover {
  overflow-y: overlay;
}

.page-cont .right-side .page-content .wellcome-block .notifications .notification {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0C0B0B;
  padding-bottom: 5px;
  padding-top: 5px;
  min-height: 64px;
}

.page-cont .right-side .page-content .wellcome-block .notifications .notification.unread {
  position: relative;
  z-index: 5;
}

.page-cont .right-side .page-content .wellcome-block .notifications .notification.unread::before {
  content: "";
  position: absolute;
  background: #FF7262;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: -7px;
  top: 1px;
  z-index: -1;
}

.page-cont .right-side .page-content .wellcome-block .notifications .notification.unread a {
  -webkit-text-decoration-color: #000000;
          text-decoration-color: #000000;
}

.page-cont .right-side .page-content .wellcome-block .notifications .notification a {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0C0B0B;
  text-decoration: none;
  outline: none;
  display: inline-block;
  position: relative;
  -webkit-text-decoration: solid underline 2px;
          text-decoration: solid underline 2px;
  text-underline-offset: 3px;
  -webkit-text-decoration-color: #C4C4C6;
          text-decoration-color: #C4C4C6;
}

.page-cont .right-side .page-content .wellcome-block .notifications .notification a .main-text {
  font-weight: 700;
}

.page-cont .right-side .page-content .wellcome-block .flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-cont .right-side .page-content .wellcome-block .text-col {
  width: 65%;
  padding-top: 45px;
  padding-left: 35px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.page-cont .right-side .page-content .wellcome-block .text-col .header {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #0C0B0B;
  padding-bottom: 5px;
}

.page-cont .right-side .page-content .wellcome-block .text-col .text {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0C0B0B;
}

.page-cont .right-side .page-content .wellcome-block .img-col {
  width: 35%;
  position: relative;
}

.page-cont .right-side .page-content .wellcome-block .img-col img {
  width: 175px;
  position: absolute;
  bottom: 0px;
}

.page-cont .right-side .page-content .unfinished-pools-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

.page-cont .right-side .page-content .unfinished-pools-block .owl-stage-outer {
  max-width: 100%;
}

.page-cont .right-side .page-content .unfinished-pools-block .pools-wrap {
  width: calc(100% - 120px);
}

.page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .unfinished-pools-list {
  width: 100%;
  max-width: 100%;
}

.page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item {
  background: #F5F5F7;
  border-radius: 14px;
  padding: 8px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item .icon {
  width: 64px;
  min-width: 64px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item .icon img {
  max-width: 32px;
  max-height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item .name {
  width: 100%;
  padding-left: 20px;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #0C0B0B;
}

.page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item .progress-wrap {
  position: relative;
  margin-left: 10px;
}

.page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item .progress-wrap .text {
  position: absolute;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #0C0B0B;
  top: 12px;
  left: 0px;
  right: 0px;
  text-align: center;
}

.page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item .btn-finish-pool {
  background: #0C0B0B;
  border-radius: 25px;
  padding: 13px 15px;
  min-width: 120px;
  text-align: center;
  display: inline-block;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
  margin-left: 30px;
}

.page-cont .right-side .page-content .unfinished-pools-block .carousel-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  padding-left: 20px;
}

.page-cont .right-side .page-content .unfinished-pools-block .carousel-nav .btn-prev {
  width: 40px;
  height: 40px;
  background: url(./../img/carousel-btn-nav.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  cursor: pointer;
}

.page-cont .right-side .page-content .unfinished-pools-block .carousel-nav .btn-next {
  width: 40px;
  height: 40px;
  background: url(./../img/carousel-btn-nav.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-cont .right-side .page-content .header {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #0C0B0B;
  padding-bottom: 20px;
}

.page-cont .right-side .page-content .pool-list .pool-item {
  margin-bottom: 20px;
  background: #F5F5F7;
  border-radius: 14px;
  padding: 8px 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in, -o-transform 0.3s ease-in;
}

.page-cont .right-side .page-content .pool-list .pool-item:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
       -o-transform: translateY(-5px);
          transform: translateY(-5px);
}

.page-cont .right-side .page-content .pool-list .pool-item .icon {
  width: 64px;
  min-width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border-radius: 12px;
}

.page-cont .right-side .page-content .pool-list .pool-item .icon img {
  max-width: 35px;
  max-height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

.page-cont .right-side .page-content .pool-list .pool-item .name {
  width: calc(100% - 325px);
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #0C0B0B;
  padding-left: 20px;
}

.page-cont .right-side .page-content .pool-list .pool-item .time-block {
  width: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.page-cont .right-side .page-content .pool-list .pool-item .time-block .time-icon {
  width: 16px;
  height: 16px;
  background: url(./../img/icon-clock.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-cont .right-side .page-content .pool-list .pool-item .time-block .sum {
  padding-left: 6px;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #0C0B0B;
}

.page-cont .right-side .page-content .pool-list .pool-item .btn-wrap {
  position: relative;
}

.page-cont .right-side .page-content .pool-list .pool-item .btn-wrap.inactive .start-pool {
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.page-cont .right-side .page-content .pool-list .pool-item .btn-wrap.inactive:hover .tooltips {
  opacity: 1;
}

.page-cont .right-side .page-content .pool-list .pool-item .btn-wrap .start-pool {
  border: 2px solid #000000;
  border-radius: 25px;
  min-width: 120px;
  text-align: center;
  padding: 13px 20px;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.page-cont .right-side .page-content .pool-list .pool-item .btn-wrap .tooltips {
  position: absolute;
  width: 215px;
  padding: 25px;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.03);
          box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.03);
  border-radius: 25px;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  pointer-events: none;
  bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.page-cont .right-side .page-content .data-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.page-cont .right-side .page-content .data-list .data-block {
  background: #F5F5F7;
  border-radius: 25px;
  padding: 20px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 20px;
}

.page-cont .right-side .page-content .data-list .data-block.width30 {
  width: calc(30% - 10px);
}

.page-cont .right-side .page-content .data-list .data-block.width70 {
  width: calc(70% - 10px);
}

.page-cont .right-side .page-content .data-list .data-block .flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.page-cont .right-side .page-content .data-list .data-block .data-item {
  padding-bottom: 15px;
}

.page-cont .right-side .page-content .data-list .data-block .data-item.width50 {
  width: calc(50% - 10px);
}

.page-cont .right-side .page-content .data-list .data-block .data-item.width100 {
  width: 100%;
}

.page-cont .right-side .page-content .data-list .data-block .data-item .label {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 5px;
}

.page-cont .right-side .page-content .data-list .data-block .data-item .value {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.page-cont .right-side .page-content .data-list .data-block .data-item .value .text-value {
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-cont .right-side .page-content .data-list .data-block .data-item .input-value {
  display: none;
}

.page-cont .right-side .page-content .data-list .data-block .data-item .input-value input {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  border: 1px solid #C4C4C4;
  border-radius: 15px;
  outline: none;
  padding: 4px 5px;
  margin-left: -5px;
  width: 100%;
  max-width: 345px;
}

.page-cont .right-side .page-content .data-list .data-block .data-item .input-value .select-styled {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  border: 1px solid #C4C4C4;
  border-radius: 15px;
  outline: none;
  padding: 4px 5px;
  margin-left: -5px;
  width: 100%;
  max-width: 345px;
}

.page-cont .right-side .page-content .right-block {
  width: 490px;
  min-width: 490px;
  padding-left: 80px;
}

.page-cont .right-side .page-content .right-block ~ .center-block {
  max-width: calc(100% - 490px);
}

.page-cont .right-side .statistic-block .statistic-header {
  padding-bottom: 30px;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.page-cont .right-side .statistic-block .blocks-testStatistics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
  max-width: 420px;
}

.page-cont .right-side .statistic-block .blocks-testStatistics .block {
  width: calc(50% - 15px);
  background: #F5F5F7;
  border-radius: 14px;
  padding: 14px 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.page-cont .right-side .statistic-block .blocks-testStatistics .block .number {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 77px;
  color: #0C0B0B;
}

.page-cont .right-side .statistic-block .blocks-testStatistics .block .text {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #0C0B0B;
}

.page-cont .right-side .statistic-block .statistic-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-cont .right-side .statistic-block .menu ul {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.page-cont .right-side .statistic-block .menu ul li {
  max-width: 120px;
  padding-right: 10px;
}

.page-cont .right-side .statistic-block .menu ul li a {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: bold;
  color: #C4C4C4;
  display: block;
  text-align: left;
  text-decoration: none;
  border: none;
  outline: none;
}

.page-cont .right-side .statistic-block .menu ul li a.active {
  color: #0C0B0B;
}

.page-cont .right-side .statistic-block .statistic-filter {
  display: inline-block;
}

.page-cont .right-side .statistic-block .statistic-filter .customselect-wrapper {
  text-align: left;
}

.page-cont .right-side .statistic-block .statistic-filter .customselect-wrapper .select-styled {
  padding: 6px 10px;
  background: #F5F5F7;
  border-radius: 8px;
  border: none;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 9px;
  line-height: 11px;
  color: #0C0B0B;
  padding-right: 22px;
}

.page-cont .right-side .statistic-block .statistic-filter .customselect-wrapper .select-styled::after {
  width: 6px;
  height: 3px;
  background: url(./../img/icon-arrow-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.page-cont .right-side .statistic-block .statistic-filter .customselect-wrapper .select-options li {
  font-size: 9px;
  line-height: 11px;
  padding: 5px;
}

.page-cont .right-side .statistic-block .statistic-chart {
  max-width: 100%;
}

.page-cont .right-side .statistic-block .statistic-chart svg {
  max-width: 100%;
}

.page-cont .right-side .ad-block {
  background: #F5F5F7;
  border-radius: 14px;
  padding: 22px;
  margin-top: 20px;
  max-width: 420px;
}

.page-cont .right-side .ad-block .ad-block-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-cont .right-side .ad-block .ad-block-row .ad-block-col {
  width: 60%;
}

.page-cont .right-side .ad-block .ad-block-row .ad-block-col .header {
  font-family: 'Baloo Bhai', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  color: #0C0B0B;
  padding-bottom: 5px;
}

.page-cont .right-side .ad-block .ad-block-row .ad-block-col .text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0C0B0B;
  padding-bottom: 22px;
}

.page-cont .right-side .ad-block .ad-block-row .ad-block-col .get-premium {
  background: #0C0B0B;
  border-radius: 8px;
  padding: 11px 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
  display: inline-block;
}

.page-cont .right-side .ad-block .ad-block-row .ad-block-img {
  width: 40%;
}

.page-cont .right-side .ad-block .ad-block-row .ad-block-img img {
  max-width: 100%;
}

.page-cont .progress-wrap svg {
  height: 40px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 40px;
}

.page-cont .progress-wrap .progress-bar__background {
  fill: none;
  stroke: #F5F5F7;
  stroke-width: 2;
}

.page-cont .progress-wrap .progress-bar__progress {
  fill: none;
  stroke: #F5F5F7;
  stroke: #000000;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: 2;
  -webkit-transition: stroke-dashoffset 1s ease-in-out;
  -o-transition: stroke-dashoffset 1s ease-in-out;
  transition: stroke-dashoffset 1s ease-in-out;
}

.page-cont .btn-orange {
  background: #FF7262;
  border-radius: 25px;
  padding: 14px 17px;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
  border: none;
  display: block;
}

.page-cont .btn-putInfo {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in, -o-transform 0.3s ease-in;
}

.page-cont .btn-putInfo::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(255, 114, 98, 0.3);
          box-shadow: 0px 4px 4px rgba(255, 114, 98, 0.3);
  border-radius: 25px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.page-cont .btn-putInfo.shadowed {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
       -o-transform: translateY(-3px);
          transform: translateY(-3px);
}

.page-cont .btn-putInfo.shadowed::before {
  opacity: 1;
}

.page-cont .apexcharts-canvas {
  max-width: 100%;
}

.apexcharts-canvas .apexcharts-xaxis-tick {
  display: none;
}

.apexcharts-canvas .apexcharts-text {
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-size: 9px;
  line-height: 11px;
  color: #0C0B0B;
}

.apexcharts-canvas .tooltips-line {
  position: absolute;
  opacity: 0;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.apexcharts-canvas .tooltips-line.shown, .apexcharts-canvas .tooltips-line:hover {
  opacity: 1;
}

.apexcharts-canvas .tooltips-line .tooltip-content {
  position: absolute;
  top: -20px;
  min-width: 40px;
  text-align: center;
  font-family: "Gilroy", Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.2px;
  color: #0C0B0B;
  padding: 3px 5px;
  background: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.15);
}

.apexcharts-canvas .tooltips-line .tooltip-content::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  bottom: -3.5px;
  left: calc(50% - 3px);
  background: #FFFFFF;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.15);
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes slideInLeft {
  0% {
    transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}

@-o-keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}

.mobile-menu {
  display: none;
  left: 20px;
  position: absolute;
  top: 15px;
  padding: 10px 5px;
  padding-top: 12px;
  width: 45px;
  height: 45px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.mobile-menu:hover {
  border: #fff solid 2px;
}

.mobile-menu:hover:not(.open) .bun-top,
.mobile-menu:hover:not(.open) .bun-mid,
.mobile-menu:hover:not(.open) .bun-bottom {
  background: #000000;
}

.mobile-menu.open .b-main {
  border: #000000 solid 20px;
}

.mobile-menu.open .b-bun--top {
  background: #000000;
  top: 9px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-menu.open .b-bun--mid {
  opacity: 0;
}

.mobile-menu.open .b-bun--bottom {
  background: #000000;
  top: 5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-menu .b-menu {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  padding-left: 0px;
  padding-top: 0px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 25px;
  z-index: 12;
}

.mobile-menu .b-bun {
  background: #000000;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.mobile-menu .b-bun--top {
  height: 2px;
  top: 0;
  width: 100%;
}

.mobile-menu .b-bun--mid {
  height: 2px;
  top: 6px;
  width: 100%;
}

.mobile-menu .b-bun--bottom {
  height: 2px;
  top: 12px;
  width: 100%;
}

.load-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: #ffffff;
  z-index: 9999;
}

.load-wrapper .loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 200px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(./../img/logo-loader.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

@media screen and (max-width: 1400px) {
  .page-cont .right-side .page-content .center-block {
    padding-left: 60px;
  }
  .page-cont .right-side .page-content .right-block {
    width: 460px;
    min-width: 460px;
    padding-left: 50px;
  }
  .page-cont .right-side .page-content .right-block ~ .center-block {
    max-width: calc(100% - 460px);
  }
  .page-cont .right-side .page-content .unfinished-pools-block .pools-wrap {
    width: calc(100% - 100px);
  }
  .page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item .btn-finish-pool {
    margin-left: 10px;
  }
  .page-cont .right-side .page-content .unfinished-pools-block .carousel-nav {
    width: 100px;
  }
  .page-cont .right-side .page-content .unfinished-pools-block .carousel-nav .btn-prev {
    width: 35px;
    height: 35px;
  }
  .page-cont .right-side .page-content .unfinished-pools-block .carousel-nav .btn-next {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 1250px) {
  .page-cont {
    padding: 0px;
  }
  .page-cont .left-side {
    min-height: 100vh;
    width: 120px;
  }
  .page-cont .left-side .main-panel {
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    height: -webkit-fill-available;
    min-height: initial;
    width: 120px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .page-cont .left-side .bottom-content .chat-wrapper {
    height: 250px;
  }
  .page-cont .left-side .bottom-content .chat-wrapper .messages-block {
    padding-left: 5px;
    padding-right: 5px;
  }
  .page-cont .left-side .bottom-content .chat-wrapper .messages-block .messages-wrap {
    padding-left: 5px;
    padding-right: 5px;
  }
  .page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap {
    padding: 20px 5px;
  }
  .page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea::-webkit-input-placeholder {
    font-size: 7px;
  }
  .page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea::-moz-placeholder {
    font-size: 7px;
  }
  .page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea:-ms-input-placeholder {
    font-size: 7px;
  }
  .page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea::-ms-input-placeholder {
    font-size: 7px;
  }
  .page-cont .left-side .bottom-content .chat-wrapper .message-input-wrap textarea::placeholder {
    font-size: 7px;
  }
  .page-cont .right-side {
    height: 100vh;
    width: calc(100% - 120px);
  }
  .page-cont .right-side .top-panel {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  .page-cont .right-side .top-menu {
    padding-bottom: 20px;
  }
  .page-cont .right-side .top-menu ul li a {
    font-size: 14px;
    line-height: 16px;
  }
  .page-cont .right-side .statistic-block .statistic-header {
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
  }
  .page-cont .right-side .page-content .center-block {
    padding-right: 20px;
    padding-left: 20px;
  }
  .page-cont .right-side .page-content .right-block {
    padding-right: 30px;
    width: 400px;
    min-width: 400px;
    padding-left: 0px;
  }
  .page-cont .right-side .page-content .right-block ~ .center-block {
    max-width: calc(100% - 400px);
  }
  .page-cont .right-side .page-content .pool-list .pool-item {
    border-radius: 25px;
    padding: 15px 20px;
  }
}

@media screen and (max-width: 1150px) {
  .page-cont .right-side .page-content .right-block {
    width: 300px;
    min-width: 300px;
    overflow: hidden;
  }
  .page-cont .right-side .page-content .right-block ~ .center-block {
    max-width: calc(100% - 300px);
  }
  .page-cont .right-side .statistic-block .blocks-testStatistics .block {
    width: calc(50% - 5px);
  }
  .page-cont .right-side .statistic-block .blocks-testStatistics .block .number {
    font-size: 32px;
    line-height: 42px;
  }
  .page-cont .right-side .statistic-block .blocks-testStatistics .block .text {
    font-size: 12px;
    line-height: 14px;
  }
  .page-cont .right-side .ad-block .ad-block-row .ad-block-col .header {
    font-size: 16px;
    line-height: 24px;
  }
  .page-cont .right-side .ad-block .ad-block-row .ad-block-col .text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 992px) {
  .page-cont .left-side {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    z-index: 999;
  }
  .page-cont .left-side .main-panel {
    padding-top: 50px;
    position: fixed;
    left: -250px;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
    width: 250px;
  }
  .page-cont .left-side .main-panel.open {
    left: 0px;
  }
  .page-cont .left-side .left-menu {
    padding-top: 10px;
  }
  .page-cont .left-side .left-menu .menu-item a {
    padding: 20px 10px;
  }
  .page-cont .left-side .bottom-content .chat-wrapper.expanded {
    top: 70px;
  }
  .page-cont .left-side .bottom-content .chat-wrapper.expanded .messages-block {
    height: calc(100% - 170px);
  }
  .page-cont .left-side .logo {
    padding-top: 10px;
    width: 70px;
  }
  .page-cont .right-side {
    width: 100%;
  }
  .page-cont .right-side .top-panel {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #fff;
    z-index: 100;
  }
  .page-cont .right-side .page-content {
    padding-top: 80px;
  }
  .page-cont .right-side .page-content .data-list .data-block {
    padding: 20px;
  }
  .page-cont .right-side .page-content .wellcome-block {
    margin-top: 40px;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
  }
  .mobile-menu.open .b-bun {
    background: #fff !important;
  }
  .page-cont .right-side .page-content .pool-list .pool-item .show-pool .tooltips {
    left: auto;
    right: 5px;
  }
}

@media screen and (max-width: 900px) {
  .page-cont .right-side .page-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-cont .right-side .page-content .right-block {
    width: 100%;
    padding: 20px;
  }
  .page-cont .right-side .page-content .right-block ~ .center-block {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .page-cont .right-side .page-content .data-list .data-block {
    width: 100%;
  }
  .page-cont .right-side .page-content .data-list .data-block.width30, .page-cont .right-side .page-content .data-list .data-block.width70 {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .page-cont .right-side .top-menu ul li {
    padding-right: 15px;
  }
  .page-cont .right-side .page-content .pool-list .pool-item {
    padding: 15px;
  }
  .page-cont .right-side .page-content .pool-list .pool-item .icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .page-cont .right-side .page-content .pool-list .pool-item .icon img {
    width: 25px;
    height: 25px;
  }
  .page-cont .right-side .page-content .pool-list .pool-item .name {
    padding-left: 6px;
    width: calc(100% - 240px);
  }
  .page-cont .right-side .page-content .pool-list .pool-item .time-block {
    width: 100px;
  }
  .page-cont .right-side .page-content .pool-list .pool-item .btn-wrap .start-pool {
    min-width: 100px;
  }
  .page-cont .left-side .faq-block .faq-img img {
    max-height: 100px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
  .page-cont .right-side .page-content .unfinished-pools-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-cont .right-side .page-content .unfinished-pools-block .pools-wrap {
    width: 100%;
  }
  .page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item .icon {
    width: 35px;
    min-width: 35px;
    height: 35px;
  }
  .page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item .icon img {
    width: 20px;
    height: 20px;
  }
  .page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item .name {
    padding-left: 6px;
  }
  .page-cont .right-side .page-content .unfinished-pools-block .carousel-nav {
    padding-left: 0px;
    padding-top: 10px;
  }
  .page-cont .right-side .ad-block,
  .page-cont .right-side .statistic-block .blocks-testStatistics {
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .page-cont .right-side .top-menu ul li {
    padding-right: 10px;
  }
  .page-cont .right-side .top-menu ul li a {
    font-size: 12px;
    line-height: 14px;
  }
  .page-cont .right-side .page-content .pool-list .pool-item {
    width: 100%;
    margin-bottom: 15px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-cont .right-side .page-content .pool-list .pool-item .icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .page-cont .right-side .page-content .pool-list .pool-item .icon img {
    width: 25px;
    height: 25px;
  }
  .page-cont .right-side .page-content .pool-list .pool-item .name {
    padding-left: 6px;
    width: calc(100% - 40px);
  }
  .page-cont .right-side .page-content .pool-list .pool-item .time-block {
    width: 50%;
  }
  .page-cont .right-side .page-content .pool-list .pool-item .btn-wrap .start-pool {
    min-width: 120px;
  }
  .page-cont .right-side .page-content .wellcome-block .text-col {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 25px;
  }
  .page-cont .right-side .page-content .wellcome-block .text-col .header {
    font-size: 24px;
    line-height: 36px;
  }
  .page-cont .right-side .page-content .wellcome-block .img-col img {
    width: 100%;
    max-height: 130px;
  }
  .page-cont .right-side .page-content .unfinished-pools-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-cont .right-side .page-content .unfinished-pools-block .pools-wrap {
    width: 100%;
  }
  .page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item .name {
    padding-left: 6px;
    width: calc(100% - 40px);
  }
  .page-cont .right-side .page-content .unfinished-pools-block .pools-wrap .pools-item .progress-wrap {
    margin-top: 20px;
  }
  .page-cont .right-side .page-content .data-list .data-block .data-item {
    width: 100%;
  }
  .page-cont .right-side .page-content .data-list .data-block .data-item.width50 {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */